body {
    background-image: url('/Imagenes/fondo.png');
    background-size: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Book Antiqua', Courier, monospace;
  }

   
header{
    width: fit-content;
    }

h2{
  color: #cfd3d0;
}
    
    
.barra-head{
    background-image: url('/Imagenes/AdobeStock_356733538.jpeg');
    background-size: cover;
    background-position: center;
    transition: 0.9s ease-in-out;
    width: auto;
    opacity: 100%;
}

.title {
    color: rgb(212, 139, 29);
    position: relative;
    bottom: 10%;
    left: 0%;
    font-size: 300%;
 }

.barra-head:hover {
  background-image: url('/Imagenes/imgbarra2.png');
  transition: opacity 0.5s ease-in-out;
     
}
h1{
  font-family: 'Book Antiqua', Courier, monospace;
  text-align: center;
}

.menu-desplegable{
  width: 30px;
  height: 30px;
}

.icono-menu{
  width: 30px;
  height: 30px;
}

.contenedor-imagenes {
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
.cont-moviles {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    height: auto;
      
  }
  .cont-fijo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
      
  }

.logo{
    color: #079185;

}
.right{
    background-color: rgb(21, 156, 89);
    color: #cfd3d0;
    height: 200px;
    width: 250px;
    left: 80%;
    top: 50%;
    position: relative;
    top: 0;
    border-radius: 50%;
    
}
.heladocamion{
    height: fit-content;
    border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  text-decoration: none;
}


.menu li:hover > .submenu {
  visibility: visible;
  opacity: 1;
}

#contacto-form{
  color: #fff;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
  font-family: 'Book Antiqua', Courier, monospace;
  text-decoration: none;

}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;

}
.frase{
  color: #fff;

}
footer {
  background-color: #8BC34A;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer p {
  margin: 0;
}

.footer-fijado {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8BC34A;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-fijado p {
  margin: 0;
  font-size: 14px;
}

.grilla-de-imagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.grilla-de-imagenes img {
  width: 250px;
  height: auto;
}

.image-frase{
  color: #cfd3d0;
}

.nosotros{
  color: #cfd3d0;
}


/* Estilos para tamaño medio */
@media screen and (max-width: 768px) {
    .title {
      font-size: 300%;
    }
  }
  
  /* Estilos para tamaño chico */
  @media screen and (max-width: 480px) {
    .title {
      font-size: 200%;
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    .contenedor-imagenes {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media screen and (min-width: 992px) {
    .contenedor-imagenes {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

 